@font-face {
    font-family: 'GreatVibes';
    src: url(/fonts/GreatVibes-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FrederickatheGreat';
    src: url(/fonts/FrederickatheGreat-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Hurricane';
    src: url(/fonts/Hurricane-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RougeScript';
    src: url(/fonts/RougeScript-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ClickerScript';
    src: url(/fonts/ClickerScript-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Niconne';
    src: url(/fonts/Niconne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Parisienne';
    src: url(/fonts/Parisienne-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniModa';
    src: url(/fonts/BodoniModa-VariableFont_opsz_wght.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniModaSC';
    src: url(/fonts/BodoniModaSC-VariableFont_opsz_wght.ttf);
    font-weight: 500;   
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url(/fonts/Lora-VariableFont_wght.ttf);
    font-weight: 500;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
    text-align: center;
}

body {
    overflow-y: scroll; /* Permite el desplazamiento vertical */
    background-color: #88766f !important;
    
    background-image: url(/imagenes/fondo1.jpg);
    /* filter: blur(2%); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100%; */
    height: 100vh; 
}

.centrar{
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
}

.fullscreen-section {
    position: relative;
    width: 100%;
    height: 70vh; /* 100% del viewport height */    
}

.caja_secciones{
    border-color: black;
    border-width: 10px;
    border-style: double;
    padding-top: 5%;
    padding-bottom: 5%;
}

#section_presentacion{
    height: 50vh;
}

.presentacion-imagen img {    
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    
}

.text-float{
    position: absolute;
    /* transform: translate(30%, 0%); */
}

.presentacion_texto{
    top: 10%;
    left: -5%;
    font-family: 'GreatVibes';
    font-weight: 400;
    font-size: 2.4rem;
    color: #f1fc8f;
    left: 10%;
}

.presentacion_cont_persona{
    width: 50%;
    /* text-align: center; */
}

.presentacion_personas{
    top: 50%;
    left: 10%;
    font-family: 'FrederickatheGreat';
    font-weight: 400;
    color: rgb(176, 241, 101);
    font-size: 1.5rem;
}

.centrar_elementos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centrar_elementos div:nth-child(1){
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 25%;  
}

#section-fecha-evento .centrar_elementos > div:nth-child(n + 3){
    font-size: 3.5rem;
    color: #810e0e;
    font-family: 'RougeScript';
    width: 100%;
    line-height: 1.5em;
}

.texto_noFaltes{
    font-family: 'RougeScript';
    font-size: 2.5rem;
    color: #226d22;
    font-weight: 400;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

/* .head_anillos11{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 20%;   
} */

.mensaje_regresiva{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cuenta-atras{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.cuenta-atras > div{
    line-height: 1;
}

#cuenta-atras > div > p:nth-child(1){
    font-size: 2.3rem;
}

#cuenta-atras > div > p:nth-child(2){
    font-size: 1rem;
}


.titulo_tarjeta{
    font-family: 'Niconne';
    font-size: 2.5rem;
    font-weight: 400;
    color: #063806;
    text-shadow: rgb(62, 153, 34) 1px 0 10px;
}

.btn-ubicacion{
    margin-top: 5%;
}

.btn-ubicacion a:hover{
    background-color:rgb(71, 212, 66);
    color:black;
}

.ubicacion-separacion-texto > div:nth-child(n){
    margin-top: 2% !important;
    margin-bottom: 2% !important;    
}

.evento-ubicacion-texto{
    font-family: 'GreatVibes';
    font-weight: bold;
    line-height: 2.1;
}

.evento-ubicacion-texto div:nth-child(1){
    font-size: 2.2rem;
    width: 100%;
}

.evento-ubicacion-texto div:nth-child(2){
    text-shadow: rgb(9, 12, 8) 3px 5px 7px;
    font-size: 2rem;    
}

.evento-ubicacion-texto div:nth-child(3){
    font-size: 1.3rem;    
    font-style: oblique;
}


/* .texto-iglesia{
    font-family: 'GreatVibes';
    font-size: 2.2rem;
    font-weight: bold;
} */

/* .texto-iglesia-direc{
    font-family: 'BodoniModa';
    font-size: 1.3rem;
    font-weight: bold;
    font-style: oblique;
} */

/* .iglesia-hora{
    text-shadow: rgb(9, 12, 8) 3px 5px 7px;
    font-size: 2rem;
} */